.vscode/**
.vscode-test/**
src/**
.gitignore
.yarnrc
vsc-extension-quickstart.md
**/tsconfig.json
**/eslint.config.mjs
**/*.map
**/*.ts
**/.vscode-test.*
.vscode/**
.vscode-test/**
.vscode-test-web/**
src/**
tsconfig.json
.gitignore
.github/**
.git/**
node_modules/.cache/**
**/*.map
**/*.ts

# Ignore VS Code debug profile
~/**